<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="collapse" id="collapseOne">
    <div class="card card-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="form-check mt-4 mb-3">
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault"><f:translate key="filter.authorRights" default="Author retains unrestricted copyrights and publishing rights"/></label>
                    </div>
                    <div class="mt-4 mb-3">
                        <label for="publication_time_max" class="form-label"><b><f:translate key="filter.averagePublicationTime" default="Average publication time"/></b>: 15 weeks</label>
                        <input type="range" class="form-range" min="1" step="1" max="15" id="publication_time_max">
                    </div>
                    <div class="mt-4 mb-3">
                        <label for="apcs_max" class="form-label"><b><f:translate key="filter.maxApcs" default="Maximum publication fees (APCs)"/></b>: 500 €</label>
                        <input type="range" class="form-range" min="0" step="100" max="500" id="apcs_max">
                    </div>
                    <div class="mt-4 mb-3">
                        <b><f:translate key="filter.selectSubject" default="Select subject"/></b><a href="#" data-bs-toggle="tooltip" data-bs-original-title="{f:translate(key: 'filter.tooltipSubject"')}">?</a>
                        <select class="form-select" aria-label="{f:translate(key: 'filter.selectFilter')}">
                            <option value=""><f:translate key="filter.all"/></option>
                            <f:for each="{subjects}" as="subject">
                                <option value="{subject.term}">{subject.term}</option>
                                <!-- add check for children of subject -->
                            </f:for>
                            <option value="Q">Science</option>
                            <option value="Q1-390">&nbsp;&nbsp;&nbsp;&nbsp;Science (General)</option>
                            <option value="QA75.5-76.95">&nbsp;&nbsp;&nbsp;&nbsp;Electronic computers. Computer science</option>
                        </select>
                    </div>
                    <div mt-4="" mb-3="">
                        <b><f:translate key="filter.selectLanguage" default="Select language"/></b>
                        <select class="form-select" aria-label="{f:translate(key: 'filter.selectFilter')}">
                            <option value=""><f:translate key="filter.all"/></option>
                            <f:for each="{languages}" as="language">
                                <option value=">{language.lang}">{language.lang}</option>
                            </f:for>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="mt-4 mb-3">
                        <b><f:translate key="filter.selectKeywords" default="Select keywords"/></b><a href="#" data-bs-toggle="tooltip" data-bs-original-title="Journal-level keywords assigned by the publisher">?</a>
                        <div class="input-group m-1">
                            <input aria-label="Search for keywords" type="text" placeholder="Search keywords" maxlength="100" class="form-control">
                            <button aria-label="Reset keyword search" class="btn btn-outline-secondary" type="button" id="button-addon2">✗</button>
                        </div>
                        <ul class="scrollable">
                            <f:for each="{keywords}" as="keyword">
                                <f:render partial="Recommender/FilterKeyword" arguments="{keyword: keyword}"/>
                            </f:for>
                        </ul>
                    </div>
                    <button type="button" class="float-end btn btn-danger">✖ Reset filters</button>
                    <div class="spinner-border me-3 float-end" role="status" style="display: none;">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>