<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:form action="main" controller="Recommender" name="filterParameter" method="post" class="mt-5">
    <div>
        <label for="input-title"><f:translate key="label.title" default="Title"/></label>
        <div>
            <input type="text" name="tx_bison[title]" placeholder="{f:translate(key: 'placeholder.title')}" value="{viewData.requestData.title}" maxlength="500" class="form-control" id="input-title">
        </div>
    </div>
    <div class="mt-1">
        <label for="input-abstract"><f:translate key="label.abstract" default="Abstract"/></label>
        <div>
            <textarea name="tx_bison[abstract]" cols="40" rows="5" placeholder="{f:translate(key: 'placeholder.abstract')}" maxlength="5000" class="form-control" id="input-abstract">{viewData.requestData.abstract}</textarea>
        </div>
    </div>
    <div class="mt-1">
        <label for="input-references"><f:translate key="label.references" default="References"/></label>
        <a href="#" data-bs-toggle="tooltip" data-bs-original-title="The DOIs are extracted from the input. Other references are discarded.">?</a>
        <div>
            <textarea name="tx_bison[references]" cols="40" rows="5" placeholder="{f:translate(key: 'placeholder.references')}" maxlength="50000" class="form-control" id="input-references">{viewData.requestData.references}</textarea>
        </div>
    </div>
    <f:form.submit class="btn btn-primary mb-2 mt-2" value="{f:translate(key: 'button.search')}" />
    <button id="button-clear" class="btn btn-danger m-2"><f:translate key="button.clear"/></button>
</f:form>

</html>