<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
      
<input type="hidden" id="suggest_subject" name="{suggestSubject.term}" value="{suggestSubject.code}" />
<div class="alert alert-info alert-dismissible fade show mt-1" role="alert">
    <span class="pe-1"><f:translate key="alert.subject" arguments="{lang: '{suggestSubject.term}'}"/></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

</html>