<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
      
<input type="hidden" id="suggest-language" name="{suggestLanguage.name}" value="{suggestLanguage.code}" />
<div class="alert alert-info alert-dismissible fade show mt-1" role="alert">
    <span class="pe-1">According to your input, we automatically set the language filter to "{suggestLanguage.name}". You can change it along with the other filters.</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{f:translate(key: 'button.close')}"></button>
</div>

</html>