<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:variable name="languages"><f:for each="{journal.languages}" as="language">{language.name}, </f:for></f:variable>
<f:variable name="licenses"><f:for each="{journal.licenses}" as="license">{license.type}, </f:for></f:variable>
<f:variable name="reviews"><f:for each="{journal.editorialReviewProcesses}" as="review">{review.process}, </f:for></f:variable>
<div id="content-view" class="container mt-4 mb-4">
    <div>
        <h2>
            <a href="{journal.accessData.url}" class="hidden-link">{journal.title}</a>
        </h2>
        <f:if condition="{journal.alternativeTitle}">
            <p class="text-muted">{journal.alternativeTitle}</p>
        </f:if>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td class="right-aligned"><f:translate key="result.publisher"/>: </td>
                                <td>{journal.publisher.name}</td>
                            </tr>
                            <tr>
                                <td class="right-aligned"> ISSNs: </td>
                                <td>{journal.issns}</td>
                            </tr>
                            <tr>
                                <td class="right-aligned"><f:translate key="result.publicationTime"/>: </td>
                                <td><f:translate key="result.weeks" arguments="{count: '{journal.publicationTimeWeeks}'}"/></td>
                            </tr>
                            <tr>
                                <td class="right-aligned"><f:translate key="result.language"/>: </td>
                                <!-- format.trim is first available in TYPO3 12.x -->
                                <!-- <td><f: format. trim characters="," side="right">{languages}</f: format. trim></td> -->
                                <td><bison:trim content="{languages}"/></td>
                            </tr>
                            <tr>
                                <td class="right-aligned"><f:translate key="result.authorRights"/>: </td>
                                <td>
                                    <f:if condition="{journal.retainsCopyrightAuthor}">
                                        <f:then>✓</f:then>
                                        <f:else>✗</f:else>
                                    </f:if>
                                </td>
                            </tr>
                            <tr>
                                <td class="right-aligned">Article receives DOI: </td>
                                <td>
                                    <f:if condition="{journal.doiPidScheme}">
                                        <f:then>✓</f:then>
                                        <f:else>✗</f:else>
                                    </f:if>
                                </td>
                            </tr>
                            <tr><td class="right-aligned"><f:translate key="result.review"/>: </td>
                                <!-- format.trim is first available in TYPO3 12.x -->
                                <!-- <td><f: format. trim characters="," side="right">{reviews}</f: format. trim></td> -->
                                <td><bison:trim content="{reviews}"/></td>
                            </tr>
                            <tr>
                                <td class="right-aligned"><f:translate key="result.license"/>: </td>
                                <!-- format.trim is first available in TYPO3 12.x -->
                                <!-- <td><f: format. trim characters="," side="right">{licenses}</f: format. trim></td> -->
                                <td><bison:trim content="{licenses}"/></td>
                            </tr>
                            <tr>
                                <td class="right-aligned"><f:translate key="result.apcs"/>: </td>
                                <f:if condition="{journal.filter.price}">
                                    <f:then>
                                        <td><span>{journal.filter.price.price} {journal.filter.price.currency}
                                            <f:if condition="{journal.filter.price} && {journal.filter.price.currency} != 'EUR'">
                                                <span>(approx. {journal.filter.price.euro}€)</span>
                                            </f:if>
                                        </span>
                                        <span><br>({journal.filter.financing})</span>
                                        </td>
                                    </f:then>
                                    <f:else>
                                        <td><span>{journal.apcMax.price} {journal.apcMax.currency}
                                            <f:if condition="{journal.apcMax.price} && {journal.apcMax.currency} != 'EUR'">
                                                <span>(approx. {journal.apcMax.euro}€)</span>
                                            </f:if>
                                        </span>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>
                            <tr>
                                <td class="right-aligned"><f:translate key="result.plan"/>: </td>
                                <td>
                                    <f:if condition="{journal.planSCompliance}">
                                        <f:then>✓</f:then>
                                        <f:else>✗</f:else>
                                    </f:if>
                                </td>
                            </tr>
                            <tr>
                                <td class="right-aligned"><f:translate key="result.createdDate"/>: </td>
                                <td><f:format.date format="m/d/Y">{journal.createdDate}</f:format.date>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-5">
                    <a href="{journal.accessData.url}" target="_blank" rel="noopener noreferrer" class="m-2 link-button btn btn-outline-primary">Website</a>
                    <a href="{journal.accessData.authorInstructionsUrl}" target="_blank" rel="noopener noreferrer" class="m-2 link-button btn btn-outline-primary"><f:translate key="result.authorInstructions"/></a>
                    <a href="{journal.accessData.aimsAndScopeUrl}" target="_blank" rel="noopener noreferrer" class="m-2 link-button btn btn-outline-primary"><f:translate key="result.aimsScope"/></a>
                    <a href="{journal.accessData.editorialBoardUrl}" target="_blank" rel="noopener noreferrer" class="m-2 link-button btn btn-outline-primary"><f:translate key="result.editorialBoard"/></a>
                    <a href="{journal.filter.source}" target="_blank" rel="noopener noreferrer" class="m-2 link-button btn btn-outline-primary"><f:translate key="result.priceSource"/></a>

                    <div class="mt-4">
                        <h5><f:translate key="result.subjects"/>:</h5>
                        <div class="d-flex flex-wrap">
                            <f:for each="{journal.subjects}" as="subject">
                                <p class="subject bubble py-1 px-2 mx-2 my-1">{subject.term}</p>
                            </f:for>
                        </div>
                    </div>
                    <div>
                        <h5><f:translate key="result.keywords"/>:</h5>
                        <div class="d-flex flex-wrap">
                            <f:for each="{journal.keywords}" as="keyword">
                                <p class="keyword bubble py-1 px-2 mx-2 my-1">{keyword.keyword}</p>
                            </f:for>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space"></div>
            <div class="row">
                <h5>Contact Person</h5>
                <p><a href="mailto: {contact.email}" class="hidden-link">{contact.name}</a> / <a href="{contact.url}" class="hidden-link">{contact.url}</a></p>
            </div>
        </div>
    </div>
</div>

</html>