<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<!-- example of including -->
<footer class="footer static-bottom mt-auto py-1 bg-light">
    <div class="container-fluid" id="footer-grid">
        <div class="footer-item">
            <a href="https://www.slub-dresden.de/">
                <img loading="lazy" src="/img/slub_logo.png" alt="SLUB Logo" class="logo-img img-fluid">
            </a>
        </div>
    </div>
    <div id="legal" class="centered">
        <a href="/bison/imprint" class="ms-3 me-3">Imprint</a>
        <a href="/bison/accessibility" class="ms-3 me-3">Accessibility</a>
        <button type="button" class="ms-3 me-3 btn btn-link" id="lang-switcher">Deutsch</button>
    </div>
</footer>

</html>
