a {
    text-decoration: none;
}

#bison-logo {
    height: 30px;
    vertical-align: top;
}

.logo-img {
    max-height: 70px;
    display: block;
    margin: 0 auto;
}

.scrollable {
    overflow-y: scroll;
    max-height: 300px;
    list-style-type: none;
}

.hidden-link {
    color: #000;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

.link-button {
    display: block;
}

.bubble {
    border-radius: 20px;
}

.keyword {
    background-color: #f1f6f1;
}

.subject {
    background-color: #f1f6f6;
}